.r-main{
    width: 70%;
    margin: 5% auto 5% auto;
    background-color: blanchedalmond;
    padding: 2%;
}
.heading{
    text-align: center;
    margin: 1%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    padding: 2%;
    border-radius: 10px;
}

.form-main{
    width: 80%;
    margin: 5%;
}
input{
    margin:2% 1% 0% 1%;
}


